.widget {
  height: 100%;

  &__box {
    height: 100%;
  }
}

.image-pattern-style {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
  width: calc((100% - 12px) / 3);
  cursor: pointer;
  border: 1px solid #d5d5d5;
  background-position: center;
  float: left;
}

path[id^="Link1"] {
  stroke-dasharray: 8;
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}

.image-pattern-style:hover {
  border-color: gray;
  border-width: 2px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  width: "100%";
  display: flex;
  flex-direction: column;
}

.row-header {
  font-size: 20px;
  font-weight: 500;
}

.e-checkbox-wrapper .e-label {
  font-size: 12px;
}

.property-panel-header {
  padding-top: 15px;
  padding-bottom: 5px;
}

.e-selected-style {
  border-color: #006ce6;
  border-width: 2px;
}

.control-section {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.container-fluid {
  padding-left: 0px;
}

.diagram-control-pane {
  padding-left: 0px;
  padding-right: 0px;
}

.control-pane {
  overflow: hidden;
}
