.mimic-widget {
    .mimic-header {
        position: absolute;
        z-index: 103;
        width: 100%;
        height: 2.5em;
        opacity: 0.6;
        background-color: #0e0e14;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        filter: blur(1px);
        z-index: 5;
    }
    .no-work-div {
        color: #6d6d6d;
        display: flex;
        justify-content: center;
        font-size: 1.3em;
        position: absolute;
        width: 100%;
        height: 86%;
        align-items: center;
        p {
            cursor: pointer;
        }
    }
    .diagram-edit-icon {
        font-size: 1.4em;
        position: absolute;
        right: 0.3em;
        top: 1.8em;
        z-index: 19;
    }
}

.dimmed.dimmable>.ui.animating.dimmer,
.dimmed.dimmable>.ui.visible.dimmer,
.ui.active.dimmer {
    padding: 0 !important;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
}

.ui.modal {
    border-radius: 0 !important;
}