@import '../../../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
/* .e-grid .e-gridheader {
    border:2px solid rgb(0, 109, 128)
}
.e-grid .e-headercell {
    color: darkblue;
 }
 .e-grid .e-headercelldiv {
    font-size: 15px;
 }
 .e-grid * {
    font-size: 12px !important;
  } */
  