@import "../../libs/bootstrap.css";
@import "../../libs/control.scss";
@import "../../libs/mixins.scss";
@import "../../libs/color.scss";
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";
.e-menu-icon {
    color: $primaryColor !important;
    font-size: 26px;
}

.e-save-icon::before {
    content: "\e735";
}

.e-new-icon::before {
    content: "\e712";
}

.e-load-icon::before {
    content: "\e60f";
}

.e-exp-icon::before {
    content: "\e711";
}

.e-recurrence-icon::before {
    content: "\e308";
}

.e-group-icon::before {
    content: "\e5a7";
}

.e-ungroup-icon::before {
    content: "\e5a6";
}

.e-remove-icon::before {
    content: "\e84e";
}

.e-front-icon::before {
    content: "\e5a1";
}

.e-back-icon::before {
    content: "\e5a4";
}

.e-import:before {
    content: "\e900";
    color: $primaryColor !important;
    font-size: 1.1em;
    cursor: pointer;
}

.e-upload:before {
    content: "\e710";
    font-size: 1.5em;
    color: $primaryColor;
}

.e-diagram-resize-handle {
    fill: #29bfc2;
}

.e-diagram-endpoint-handle {
    fill: #29bfc2;
}

.e-close:before {
    content: "\e7fc";
    font-size: 1em;
    color: $fontGreyColor;
}

.e-close {
    position: relative;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.e-upload {
    border: none !important;
    position: absolute;
    bottom: 1em;
    cursor: pointer;
    width: auto;
    right: 1em;
}

.upload-text {
    position: relative;
    top: -7px;
}

.upload-tag {
    margin: 1em;
    cursor: pointer;
}

.page-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget {
    height: 100%;
    &__box {
        height: 100%;
    }
}

.display-none {
    display: none;
}

// diagram starting block customizer
.e-diagram .e-ruler-overlap {
    background-color: #fafafa;
}

e-diagram .e-ruler {
    background-color: $primaryColor !important;
}

.custom-hr {
    border-color: $borderColor !important;
}

.image-pattern-style {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: calc((100% - 12px) / 3);
    cursor: pointer;
    border: 1px solid #d5d5d5;
    background-position: center;
    float: left;
}

.image-pattern-style:hover {
    border-color: gray;
    border-width: 2px;
}

.editor-panel {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // border-style: solid;
    // border-width: 2px;
    width: 80%;
    height: 60vh;
    border-radius: 10px;
}

.row-header {
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.e-checkbox-wrapper .e-label {
    font-size: 12px;
}

.property-panel-header {
    padding-top: 15px;
    padding-bottom: 5px;
}

.e-selected-style {
    border-color: $primaryColor;
    border-width: 2px;
}

.control-section {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    .ui.divider {
        margin: 0;
    }
}

.container-fluid {
    padding-left: 0px;
}

.diagram-control-pane {
    padding-left: 0px;
    padding-right: 0px;
}

.control-pane {
    overflow: hidden;
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.status-bar {
    width: 100%;
    height: 5vh;
    border: 1px solid $primaryColor;
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    p {
        font-weight: 900;
    }
}

.e-toolbar .e-tbar-btn {
    &:hover {
        background-color: transparent !important;
        background: transparent !important;
    }
    &:active {
        background-color: transparent !important;
        background: transparent !important;
    }
}

#svg-uploder {
    width: 100%;
    position: relative;
    bottom: 0;
}

// diagram panel styling
.diagram-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-top: 1px solid $primaryColor;
}

// Element Editor styling
.element-editor {
    margin: 0.3em 5px;
    .editor-heading {
        font-size: 1em;
        color: #0fc574;
        margin-left: 0.7em;
        margin-top: 0.3em;
    }
    p {
        color: #9a9a9a;
        font-size: 0.85em;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.98em 0.3em;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 0.5em;
    }
    .ui.button {
        border-radius: 0.4rem;
        padding: 8px 19px;
        font-size: 1.1em;
    }
    .colour-picker {
        border: 1px solid #a0a0a0;
        margin-left: 0.5em;
        .e-split-btn-wrapper .e-dropdown-btn {
            border-left: 1px solid #a0a0a0;
            color: $primaryColor;
        }
    }
    .rotation {
        padding: 0.4em;
        cursor: pointer;
        background: #0fc574;
        border-radius: 1em;
        margin: 0.3em;
        color: #fff;
    }
    .e-input-group:not(.e-float-icon-left),
    .e-input-group.e-control-wrapper:not(.e-float-icon-left) {
        margin-top: -4px;
    }
}

// .e-symbol-draggable{
//     width:50px !important;
//     height:50px !important;
// }
.title-bar {
    width: 100%;
    height: 5vh;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    p:first-child {
        font-size: 1.2em;
        margin: auto 0.89em;
    }
    p:nth-child(2) {
        margin: auto 0.6em;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: 900;
    }
}

.sub-menu {
    display: flex;
    padding-left: 0.2em;
    padding-bottom: 2px;
    height: 5vh;
    background: #fafafa;
    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.8em;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 1em;
    }
    input.e-input {
        padding: 0 !important;
        padding-left: 0.3em !important;
        margin-top: 0.5em !important;
    }
    span::after {
        margin: 0 !important;
    }
}

#ddlelement {
    padding: 0;
}

//symbolpalette styling
#symbolpalette {
    position: relative;
    z-index: 1003;
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state>.e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state>.e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item.e-select.e-expand-state>.e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state>.e-acrdn-header .e-acrdn-header-content {
        color: $primaryColor;
        font-size: 1em;
        .e-toggle-icon {
            font-size: 0.85em;
        }
    }
    .e-accordion .e-acrdn-item .e-acrdn-header {
        padding-left: 0.34em !important;
        .e-acrdn-header-content {
            font-size: 1em;
        }
        .e-toggle-icon {
            font-size: 0.85em;
        }
    }
    .e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
        padding: 1px 0 10px !important;
    }
}

#palette-space {
    height: 77.3vh;
    border-right: 1px solid $primaryColor;
    border-top: 1px solid $primaryColor;
    overflow-y: auto;
}

// property-panel-content styling
.property-panel-content {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-left: 1px solid $primaryColor;
    background: #fbfbfb;
}

// toolbar styling
#toolbar_diagram {
    .e-toolbar-items {
        padding-left: 0.04em !important;
    }
}